/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  background-image: linear-gradient(
    67.5deg,
    rgb(64, 60, 95) 0%,
    rgb(51, 48, 77) 14%,
    rgb(57, 54, 87) 14%,
    rgb(57, 54, 87) 36%,
    rgb(69, 65, 105) 36%,
    rgb(69, 65, 105) 42%,
    rgb(81, 77, 121) 42%,
    rgb(81, 77, 121) 45%,
    rgb(95, 90, 137) 45%,
    rgb(95, 90, 137) 79%,
    rgb(109, 103, 154) 79%,
    rgb(109, 103, 154) 83%,
    rgb(124, 119, 164) 83%,
    rgb(124, 119, 164) 100%
  ),
  linear-gradient(
    112.5deg,
    rgb(51, 48, 77) 0%,
    rgb(51, 48, 77) 14%,
    rgb(57, 54, 87) 14%,
    rgb(57, 54, 87) 36%,
    rgb(69, 65, 105) 36%,
    rgb(69, 65, 105) 42%,
    rgb(81, 77, 121) 42%,
    rgb(81, 77, 121) 45%,
    rgb(95, 90, 137) 45%,
    rgb(95, 90, 137) 79%,
    rgb(109, 103, 154) 79%,
    rgb(109, 103, 154) 83%,
    rgb(124, 119, 164) 83%,
    rgb(124, 119, 164) 100%
  ),
  linear-gradient(
    22.5deg,
    rgb(51, 48, 77) 0%,
    rgb(51, 48, 77) 14%,
    rgb(57, 54, 87) 14%,
    rgb(57, 54, 87) 36%,
    rgb(69, 65, 105) 36%,
    rgb(69, 65, 105) 42%,
    rgb(81, 77, 121) 42%,
    rgb(81, 77, 121) 45%,
    rgb(95, 90, 137) 45%,
    rgb(95, 90, 137) 79%,
    rgb(109, 103, 154) 79%,
    rgb(109, 103, 154) 83%,
    rgb(124, 119, 164) 83%,
    rgb(124, 119, 164) 100%
  ),
  linear-gradient(
    90deg,
    rgb(51, 48, 77) 0%,
    rgb(51, 48, 77) 14%,
    rgb(57, 54, 87) 14%,
    rgb(57, 54, 87) 36%,
    rgb(69, 65, 105) 36%,
    rgb(69, 65, 105) 42%,
    rgb(81, 77, 121) 42%,
    rgb(81, 77, 121) 45%,
    rgb(95, 90, 137) 45%,
    rgb(95, 90, 137) 79%,
    rgb(109, 103, 154) 79%,
    rgb(109, 103, 154) 83%,
    rgb(124, 119, 164) 83%,
    rgb(124, 119, 164) 100%
  ),
  linear-gradient(90deg, rgb(31, 28, 44), rgb(146, 141, 171));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}